<a href="https://colab.research.google.com/github/jmatt724/Individual_Project_1/blob/main/InClassAssignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Individual Project 1
### Justin Mattix

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

## import dataset

In [ ]:
dataset = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Decision Trees/HRDataset_v14.csv")

In [ ]:
dataset.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2

In [ ]:
dataset.isnull().sum()

Employee_Name                   0
EmpID                           0
MarriedID                       0
MaritalStatusID                 0
GenderID                        0
EmpStatusID                     0
DeptID                          0
PerfScoreID                     0
FromDiversityJobFairID          0
Salary                          0
Termd                           0
PositionID                      0
Position                        0
State                           0
Zip                             0
DOB                             0
Sex                             0
MaritalDesc                     0
CitizenDesc                     0
HispanicLatino                  0
RaceDesc                        0
DateofHire                      0
DateofTermination             207
TermReason                      0
EmploymentStatus                0
Department                      0
ManagerName                     0
ManagerID                       8
RecruitmentSource               0
PerformanceScore                0
EngagementSurvey                0
EmpSatisfaction                 0
SpecialProjectsCount            0
LastPerformanceReview_Date      0
DaysLateLast30                  0
Absences                        0
dtype: int64

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee_Name               311 non-null    object
 1   EmpID                       311 non-null    int64
 2   MarriedID                   311 non-null    int64
 3   MaritalStatusID             311 non-null    int64
 4   GenderID                    311 non-null    int64
 5   EmpStatusID                 311 non-null    int64
 6   DeptID                      311 non-null    int64
 7   PerfScoreID                 311 non-null    int64
 8   FromDiversityJobFairID      311 non-null    int64
 9   Salary                      311 non-null    int64
 10  Termd                       311 non-null    int64
 11  PositionID                  311 non-null    int64
 12  Position                    311 non-null    object
 13  State                       311 non-null    object
 14  Zip                         311 non-null    int64
 15  DOB                         311 non-null    object
 16  Sex                         311 non-null    object
 17  MaritalDesc                 311 non-null    object
 18  CitizenDesc                 311 non-null    object
 19  HispanicLatino              311 non-null    object
 20  RaceDesc                    311 non-null    object
 21  DateofHire                  311 non-null    object
 22  DateofTermination           104 non-null    object
 23  TermReason                  311 non-null    object
 24  EmploymentStatus            311 non-null    object
 25  Department                  311 non-null    object
 26  ManagerName                 311 non-null    object
 27  ManagerID                   303 non-null    float64
 28  RecruitmentSource           311 non-null    object
 29  PerformanceScore            311 non-null    object
 30  EngagementSurvey            311 non-null    float64
 31  EmpSatisfaction             311 non-null    int64
 32  SpecialProjectsCount        311 non-null    int64
 33  LastPerformanceReview_Date  311 non-null    object
 34  DaysLateLast30              311 non-null    int64
 35  Absences                    311 non-null    int64
dtypes: float64(2), int64(16), object(18)
memory usage: 87.6+ KB

## drop the date of termination and manager id as these to not contribute to salary calculation

In [ ]:
dataset.columns

Index(['Employee_Name', 'EmpID', 'MarriedID', 'MaritalStatusID', 'GenderID',
       'EmpStatusID', 'DeptID', 'PerfScoreID', 'FromDiversityJobFairID',
       'Salary', 'Termd', 'PositionID', 'Position', 'State', 'Zip', 'DOB',
       'Sex', 'MaritalDesc', 'CitizenDesc', 'HispanicLatino', 'RaceDesc',
       'DateofHire', 'DateofTermination', 'TermReason', 'EmploymentStatus',
       'Department', 'ManagerName', 'ManagerID', 'RecruitmentSource',
       'PerformanceScore', 'EngagementSurvey', 'EmpSatisfaction',
       'SpecialProjectsCount', 'LastPerformanceReview_Date', 'DaysLateLast30',
       'Absences'],
      dtype='object')

In [ ]:
dataset = dataset.drop(['DateofHire','Position','LastPerformanceReview_Date','RecruitmentSource','TermReason','MaritalDesc','Sex','ManagerName','DOB','Employee_Name','DateofTermination', 'ManagerID'], axis = 1             )

In [ ]:
dataset.columns

Index(['EmpID', 'MarriedID', 'MaritalStatusID', 'GenderID', 'EmpStatusID',
       'DeptID', 'PerfScoreID', 'FromDiversityJobFairID', 'Salary', 'Termd',
       'PositionID', 'State', 'Zip', 'CitizenDesc', 'HispanicLatino',
       'RaceDesc', 'EmploymentStatus', 'Department', 'PerformanceScore',
       'EngagementSurvey', 'EmpSatisfaction', 'SpecialProjectsCount',
       'DaysLateLast30', 'Absences'],
      dtype='object')

## Get Dummies

In [ ]:
dataset = pd.get_dummies(dataset, columns = ['State', 'CitizenDesc', 'HispanicLatino', 'RaceDesc', 'EmploymentStatus', 'Department', 'PerformanceScore'])

In [ ]:
dataset.head()

,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,...,Department_Admin Offices,Department_Executive Office,Department_IT/IS,Department_Production,Department_Sales,Department_Software Engineering,PerformanceScore_Exceeds,PerformanceScore_Fully Meets,PerformanceScore_Needs Improvement,PerformanceScore_PIP
0,10026,0,0,1,1,5,4,0,62506,0,...,0,0,0,1,0,0,1,0,0,0
1,10084,1,1,1,5,3,3,0,104437,1,...,0,0,1,0,0,0,0,1,0,0
2,10196,1,1,0,5,5,3,0,64955,1,...,0,0,0,1,0,0,0,1,0,0
3,10088,1,1,0,1,5,3,0,64991,0,...,0,0,0,1,0,0,0,1,0,0
4,10069,0,2,0,5,5,3,0,50825,1,...,0,0,0,1,0,0,0,1,0,0

In [ ]:
dataset.columns

Index(['EmpID', 'MarriedID', 'MaritalStatusID', 'GenderID', 'EmpStatusID',
       'DeptID', 'PerfScoreID', 'FromDiversityJobFairID', 'Salary', 'Termd',
       'PositionID', 'Zip', 'EngagementSurvey', 'EmpSatisfaction',
       'SpecialProjectsCount', 'DaysLateLast30', 'Absences', 'State_AL',
       'State_AZ', 'State_CA', 'State_CO', 'State_CT', 'State_FL', 'State_GA',
       'State_ID', 'State_IN', 'State_KY', 'State_MA', 'State_ME', 'State_MT',
       'State_NC', 'State_ND', 'State_NH', 'State_NV', 'State_NY', 'State_OH',
       'State_OR', 'State_PA', 'State_RI', 'State_TN', 'State_TX', 'State_UT',
       'State_VA', 'State_VT', 'State_WA', 'CitizenDesc_Eligible NonCitizen',
       'CitizenDesc_Non-Citizen', 'CitizenDesc_US Citizen',
       'HispanicLatino_No', 'HispanicLatino_Yes', 'HispanicLatino_no',
       'HispanicLatino_yes', 'RaceDesc_American Indian or Alaska Native',
       'RaceDesc_Asian', 'RaceDesc_Black or African American',
       'RaceDesc_Hispanic', 'RaceDesc_Two or more races', 'RaceDesc_White',
       'EmploymentStatus_Active', 'EmploymentStatus_Terminated for Cause',
       'EmploymentStatus_Voluntarily Terminated', 'Department_Admin Offices',
       'Department_Executive Office', 'Department_IT/IS',
       'Department_Production       ', 'Department_Sales',
       'Department_Software Engineering', 'PerformanceScore_Exceeds',
       'PerformanceScore_Fully Meets', 'PerformanceScore_Needs Improvement',
       'PerformanceScore_PIP'],
      dtype='object')

## Splitting the data

In [ ]:
X = dataset.drop(['Salary'], axis = 1)
y = dataset[['Salary']]

In [ ]:
X.head()

,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Termd,PositionID,...,Department_Admin Offices,Department_Executive Office,Department_IT/IS,Department_Production,Department_Sales,Department_Software Engineering,PerformanceScore_Exceeds,PerformanceScore_Fully Meets,PerformanceScore_Needs Improvement,PerformanceScore_PIP
0,10026,0,0,1,1,5,4,0,0,19,...,0,0,0,1,0,0,1,0,0,0
1,10084,1,1,1,5,3,3,0,1,27,...,0,0,1,0,0,0,0,1,0,0
2,10196,1,1,0,5,5,3,0,1,20,...,0,0,0,1,0,0,0,1,0,0
3,10088,1,1,0,1,5,3,0,0,19,...,0,0,0,1,0,0,0,1,0,0
4,10069,0,2,0,5,5,3,0,1,19,...,0,0,0,1,0,0,0,1,0,0

In [ ]:
y.head()

   Salary
0   62506
1  104437
2   64955
3   64991
4   50825

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 42)

## Scaling the Dataset

In [ ]:
from sklearn.preprocessing import StandardScaler

sc_X = StandardScaler()
sc_y = StandardScaler()

In [ ]:
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [ ]:
y_train = sc_y.fit_transform(y_train)
y_test = sc_y.transform(y_test)

## Randomized Search CV

In [ ]:
from sklearn.linear_model import LinearRegression, SGDRegressor, Ridge
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor

In [ ]:
model_params= {
    'SVR': {
        'model': SVR(gamma = 'auto'),
        'params': {
            'C': [.1, 1, 10, 20, 100, 200, 500],
            'kernel' : ['rbf', 'linear', 'poly']

        }
    },
    'SGD' : {
        'model' : SGDRegressor(max_iter=1000, tol=1e-3),
        'params': {
            'eta0':[0.0001, 0.001, 0.01, 0.1, 0.5, 1, 10, 20, 100]
        }
    },
    'Linear_regression':{
        'model':LinearRegression(),
        'params':{
        }
    },
    'Ridge':{
        'model':Ridge(),
        'params':{
            'alpha' : [5, 10, 100, 1000, 2000],
            'max_iter' : [100, 500, 1000, 2000]
        }
    },
    'DeicisionTreeRegressor':{
        'model' : DecisionTreeRegressor(),
        'params':{
            'criterion' : ['squared_error', 'absolute_error'],
            'max_depth' : [3, 4, 5, 10]
        }
    }
}

## Fitting the dataset

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
scores=[]
for model_name, model_parameter in model_params.items():
  clf=RandomizedSearchCV(model_parameter['model'], model_parameter['params'], cv=6, return_train_score=False, n_iter=8)
  clf.fit(X_train, y_train.ravel())
  scores.append({
    'model': model_name,
    'best_scores' : clf.best_score_,
    'best_params' : clf.best_params_
  })

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:296: UserWarning: The total space of parameters 1 is smaller than n_iter=8. Running 1 iterations. For exhaustive searches, use GridSearchCV.
  UserWarning,

## Best Scores and Params

In [ ]:
scores

[{'model': 'SVR',
  'best_scores': 0.2734315533796942,
  'best_params': {'kernel': 'linear', 'C': 0.1}},
 {'model': 'SGD',
  'best_scores': 0.28766434408482944,
  'best_params': {'eta0': 0.001}},
 {'model': 'Linear_regression',
  'best_scores': -5.575772728011112e+26,
  'best_params': {}},
 {'model': 'Ridge',
  'best_scores': 0.28135397510274657,
  'best_params': {'max_iter': 100, 'alpha': 100}},
 {'model': 'DeicisionTreeRegressor',
  'best_scores': 0.3923913729837203,
  'best_params': {'max_depth': 4, 'criterion': 'squared_error'}}]

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)
df = pd.DataFrame(scores, columns = ['model', 'best_scores', 'best_params'])
df

,model,best_scores,best_params
0,SVR,2.734316e-01,"{'kernel': 'linear', 'C': 0.1}"
1,SGD,2.876643e-01,{'eta0': 0.001}
2,Linear_regression,-5.575773e+26,{}
3,Ridge,2.813540e-01,"{'max_iter': 100, 'alpha': 100}"
4,DeicisionTreeRegressor,3.923914e-01,"{'max_depth': 4, 'criterion': 'squared_error'}"